body {
    background-color: red;
   /* background-image: url(caminho da imagem); 
      background-repeat:no-repeat;
      background-position: left top;]
      background-attachment: fixed;
      background-size: 300px 500px;
      background: url() center center/100% 100% no-repeat fixed; 
   */
}